{% extends 'book_manager/base.html' %}

{% block TITLE_AREA %}台帳編集{% endblock %}

{% block meta_title %}
  {% if object.pk %}
    {{ object.title }}
    {% else %}POST{% endif %}
  {% endblock %}
{% block page_title %}
  {% if object.pk %}
    {{ object.title }}
  {% else %}
    POST
  {% endif %}
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
        <div style="width: 100%; height :200px;">
            <div class="row" id="textbody" style="width:25%;margin: 20px auto;" >
                <table>
                    <div class="col-12">
                    {{ form.as_table }}

                </table>
            </div>

        </div>

       <br>
       <br>
       <br>
      <div class="container">
        <div class="col-12">
          <button class="btn btn-primary" id="save">登録する</button>
          <input type="button" value="戻る" class="btn btn-danger" onClick="javascript:history.go(-1);">
        </div>
      </div>
    </div>

  </form>


{% endblock %}
