{% extends 'book_manager/base.html' %}

{% block TITLE_AREA %}台帳詳細{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-body">
             資料情報:{{ object.bookinfo|linebreaksbr }}
          </div>
          <div class="card-footer">
             入荷日: {{ object.arrival_date|linebreaksbr }}
            </div>
            <div class="card-footer">
              備考: {{ object.remarks|linebreaksbr }}
            </div>



          <div class="card-footer">
            <a class="btn btn-primary" href="{% url 'book_update' object.pk %}">編集</a>
            <a class="btn btn-danger" href="#">削除</a>
            <input type="button" value="Back" class="btn btn-danger" onClick="javascript:history.go(-1);">
          </div>


        </div>
      </div>
    </div>
  </div>
{% endblock %}
