{% extends 'book_manager/base.html' %}

{% block content %}

<br>
<br>
<h2>【資料目録リスト】</h2>
{{ form }}
<hr>
<table style="width:100%; border:1px solid black;">
        <tr style="border:1px solid black;">
          <th>ISBN番号</th>
          <th>資料タイトル</th>
          <th>分類</th>
          <th>著者</th>
          <th>出版社</th>
          <th>出版日</th>
          <th>冊数</th>
          <th>変更</th>
          <th>削除</th>
        </tr>
        {% for obj in object_list %}
        <tr style="border:1px solid black;">
          <td>{{ obj.isbn }}</td>
          <td><a style='color:blue;' href="{% url 'bookinfo_detail' obj.pk %}">{{ obj.title }}</a></td>
          <td>{{ obj.category.name }}</td>
          <td>{{ obj.author }}</td>
          <td>{{ obj.publisher }}</td>
          <td>{{ obj.publish_date }}</td>
          <td>5冊</td>
          <td><a style='color:blue;' href="#">変更</a></td>
          <td><a style='color:blue;' href="#">削除</a> </td>
        </tr>
        {% endfor %}

</table>


<div class="col-12">
    <div class="mt-3 text-center">
      {% if page_obj.has_previous %}
        <a class="btn btn-secondary" href="{% url 'bookinfo_list' %}">&laquo;1 page</a>
        <a class="btn btn-secondary" href="{% url 'bookinfo_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span>{{ page_obj.number }}/{{ paginator.num_pages }}page</span>
      {% if page_obj.has_next %}
        <a class="btn btn-secondary" href="{% url 'bookinfo_list' %}?page={{ page_obj.next_page_number }}">next</a>
        <a class="btn btn-secondary" href="{% url 'bookinfo_list' %}?page={{ page_obj.paginator.num_pages }}">&raquo;{{page_obj.paginator.num_pages}}</a>
      {% endif %}
    </div>
  </div>




{% endblock %}