{% extends 'book_manager/base.html' %}

{% block TITLE_AREA %}資料追加/台帳登録{% endblock %}



{% block meta_title %}
  {% if object.pk %}
    {{ object.title }}
    {% else %}POST{% endif %}
  {% endblock %}
{% block page_title %}
  {% if object.pk %}
    {{ object.title }}
  {% else %}
    POST
  {% endif %}
{% endblock %}


{% block content %}

title : {{ bookinfo.title }}<br>
isbn : {{ bookinfo.isbn }}

<form method="post">
    {% csrf_token %}
        <div style="width: 100%; height :200px;">
            <div class="row" id="textbody" style="width:25%;margin: 20px auto;" >


                <table>
                    <div class="col-12">

                    {{ form.as_table}}

                    </div>
                </table>
            </div>

        </div>

       <br>
       <br>
       <br>
      <div class="container">
        <div class="col-12">
          <button class="btn btn-secondary" onclick="javascript:history.go(-1);">戻る</button>
          <button class="btn btn-primary" style="color: white;" id="save">登録する</button>

        </div>
      </div>
    </div>

  </form>


{% endblock %}
