{% extends 'book_manager/base.html' %}

{% block TITLE_AREA %}資料情報詳細{% endblock %}

{% block content %}

<br>
<br>
<h2>【資料情報詳細】</h2>
<div class="">
  <h2>資料タイトル：{{ object.title }}</h2>
</div>
<div>
  <table style="width:50%;margin: 0 auto;">
    <tr>
      <th>ISBN番号</th>
      <td>{{ object.isbn }}</td>
    </tr>

    <tr>
      <th>分類コード</th>
      <td>{{ object.category.name }}（{{ object.category.code }}）</td>
    </tr>
    <tr>
      <th>著者</th>
      <td>{{ object.author }}</td>
    </tr>

      <tr>
        <th>出版社</th>
        <td>{{ object.publisher }}</td>
      </tr>

      <tr>
        <th>出版日</th>
        <td>{{ object.publish_date }}</td>
      </tr>

      </table>
</div>
<br>
<a class="btn btn-primary" href="{% url 'bookinfo_update' object.pk %}" style='color:white;'>編集</a> 
<a class="btn btn-danger" href="{% url 'check_bookinfo' object.pk %}" style='color:white;'>削除</a>  
<br>
<br>
<h3>～レビュー～</h3>
<div>
  {% if review_list|length == 0 %}
  <p>現在レビューはありません</p>
  {% else %}
  <table style="width:60%;margin: 0 auto;">
      <tr>
        <th>レビュー日</th>
        <th>評価</th>
        <th>コメント</th>
      </tr>
    {% for review in review_list %}

      <tr>
        <td>{{ review.created_at }}</td>
        <td>★{{ review.grade }}</td>
        <td>{{ review.comment }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
<br>
<br>
<h3>～資料台帳一覧～</h3>
<div>
    
  <table style="width:60%; margin: 0 auto;">
          <tr >
            <th>資料id</th>
            <th>状態</th>
          </tr>
    {% for book in book_list %}

          <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.status.name }}</td>
        </tr>
    {% endfor %}
  </table>
</div>
<br>
<h3>～レビュー～</h3>      
<div>
    {% if review_list|length == 0 %}
    <p>現在レビューはありません</p>
    <p>レビューをしませんか？</p>
    {% else %}
    <table style="width:60%;margin: 0 auto;">
      <tr>
        <th>レビュー日</th>
        <th>評価</th>
        <th>コメント</th>
      </tr>
    {% for review in review_list %}

      <tr>
        <td>{{ review.created_at }}</td>
        <td>★{{ review.grade }}</td>
        <td>{{ review.comment }}</td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}
</div>   
<br>
<hr>
<input type="button" value="戻る" onClick="javascript:history.go(-1);">      
    

{% endblock %}
