{% extends 'book_rental/book_rental_base.html' %}

{% block TITLE_AREA %}資料一覧・検索{% endblock %}

{% block content %}
<form class="" action="#" method="post">
        {% csrf_token %}
        {{ form }}
    <input type="submit" name="" value="検索">
</form>

<div>
    <br>
    {{ word }}
    <br>
    {% if object_list|length == 0 %}
    <p style="color:red;">※何も見つかりませんでした</p>
    {% endif %}
    <br>
</div>


<table class="table table-hover" style="width: 80%; margin:0 auto;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">資料タイトル</th>
            <th scope="col">著者</th>
            <th scope="col">ISBN番号</th>
            <th scope="col">分類</th>
            <th scope="col">出版社</th>
            <th scope="col">出版日</th>
            <th scope="col">予約</th>
          </tr>
        </thead>
        <tbody>
        {% for user_obj in object_list %}
        {% if user_obj.delete_date %}<!--← 修正必要-->
        {% else %}
          <tr>
            <td><a style='color:blue;' href="{% url 'book_rental_bookinfo_detail' user_obj.pk %}">{{ user_obj.title }}</a></td>
            <td>{{ user_obj.author }}</td>
            <td>{{ user_obj.isbn }}</td>
            <td>{{ user_obj.category.name }}：{{user_obj.category.code}}</td>
            <td>{{ user_obj.publisher }}</td>
            <td>{{ user_obj.publish_date }}</td>
            <td><a style='color:blue;' href="{% url 'wish_book' user_obj.pk %}">予約</a></td>
          </tr>
        </tbody>
        {% endif %}
        {% endfor %}
      </table>


<!--ページネーション-->
<div class="pagination" style="">
    <ul class="pagination" style="margin: 0 auto; margin-top:10px;">
        <!-- 前へ の部分 -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="#" style="color:black;">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        <!-- 数字の部分 -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        <!-- 次へ の部分 -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="#" style="color:black;">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>

<hr>
<a class="btn btn-info"  href="{% url 'bookinfo_list' 'all' %}" style='color:whitesmoke;'>全件一覧へ</a>
{% endblock %}
