{% extends 'book_rental/book_rental_base.html' %}

{% block content %}

<br>
<br>
<h2>【予約キャンセル確認】</h2>
      <table style="width:70%;margin: 0 auto;">

        <tr>
          <th>資料タイトル</th>
          <td>{{ wish.bookinfo.title }}</td>
        </tr>

        <tr>
          <th>著者</th>
          <td>{{ wish.bookinfo.author }}</td>
        </tr>

        <tr>
          <th>ISBN番号</th>
          <td>{{ wish.bookinfo.isbn }}</td>
        </tr>

        <tr>
          <th>予約日</th>
          <td>{{ wish.reserve_date }}</td>
        </tr>

        <tr>
          <th>予約者会員id</th>
          <td>{{ wish.user.id }}</td>
        </tr>



      </table>
      <form class="" action="{% url 'wish_cancel' wish.pk %}" method="post">
          {% csrf_token %}
          <p>予約キャンセルを確定しますか？</p>
          <input type="submit" value="確定">
      </form>


      <br><br>
      <input type="button" value="戻る" onClick="javascript:history.go(-1);">


<br>
<hr>
<a class="btn btn-info" href="{% url 'user_index' %}" style="color: white;">ホームへ戻る</a>


{% endblock %}
