{% extends 'book_rental/book_rental_base.html' %}

{% block content %}
<script type="text/javascript">

function check(){

	if(window.confirm('予約を確定しますか？')){ // 確認ダイアログを表示

		return true; // 「OK」時は送信を実行

	}
	else{ // 「キャンセル」時の処理

		window.alert('キャンセルされました'); // 警告ダイアログを表示
		return false; // 送信を中止

	}

}

// -->
</script>

<br>
<br>
<h1>【予約】</h1>
      <table style="width:70%;margin: 0 auto;">

        <tr>
          <th>資料タイトル</th>
          <td>{{ bookinfo.title }}</td>
        </tr>

        <tr>
          <th>著者</th>
          <td>{{ bookinfo.author }}</td>
        </tr>

		<tr>
          <th>ISBN番号</th>
          <td>{{ bookinfo.isbn }}</td>
        </tr>
      </table>
	  <br>
	  {% if form %}
      <p>予約ユーザの会員IDを入力してください</p>
	  {% endif %}
      <form action="{% url 'wish_book' bookinfo.pk %}" method="post" onSubmit="return check()">
      {% csrf_token %}
          <table style="margin: 0 auto;">
              <tr>
                  <th>会員ID</th>
				  {% if form %}
				  <td>{{ form.id }}</td>
				  {% else %}
				  <td>{{ userid }}</td>
				  {% endif %}
              </tr>
          </table>
          <br>
          <input type="submit" value="予約する">
      </form>
	  <br>
<input type="button" value="戻る" onClick="javascript:history.go(-1);">


{% endblock %}
